.open-calendar__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.open-calendar__form__content {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 5px;
  align-items: baseline;
}

.open-calendar__form__content label {
  text-align: right;
}

/* FIXME - CJ - 2025-07-03 - replace by something else that supports localization */
.open-calendar__form__content label::after {
  content: ":";
}

.open-calendar__form__content input[type=checkbox] {
  justify-self: left;
}

.open-calendar__form__list {
  display: flex;
  flex-direction: column;
  grid-gap: 0.25rem;
  margin-bottom: 0.25rem;
}

.open-calendar__form__buttons {
  display: flex;
  gap: 1rem;
}

.open-calendar__form__buttons>* {
  flex-grow: 1;
}

.open-calendar {
  font-family: sans-serif;
  height: 100%;
}

.ec {
  height: 100%;
}