.ec-event {
  /* NOTE - CJ - 2025-07-03 - Overrides the min heigh of the event to be one line. !important is needed as this is set manually on the element */
  /* eslint-disable-next-line css/no-important */
  min-height: 1.5rem !important;
}

.open-calendar__event-body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  --open-calendar__event-body__gap: 2px;
  display: flex;
  flex-direction: column;
}

.open-calendar__event-body__time {
  float: left;
  display: flex;
  margin-right: var(--open-calendar__event-body__gap);
}

.open-calendar__event-body__icons {
  float: right;
  display: flex;
  gap: var(--open-calendar__event-body__gap);
  margin-left: var(--open-calendar__event-body__gap);
  align-items: center;
  height: 1.5em;
}

.open-calendar__event-body__organizer {
  font-weight: bold;
  color: red;
}

.open-calendar__event-body__attendee--chair {
  font-weight: bold;
}

.open-calendar__event-body__attendee--req-participant {
  font-weight: bold;
}

.open-calendar__event-body__attendee--non-participant {
  font-style: italic;
}

.open-calendar__event-body__attendee--accepted {
  color: green;
}

.open-calendar__event-body__attendee--declined {
  color: gray;
}

.ec-day-grid .open-calendar__event-body__header {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ec-day-grid :is(.open-calendar__event-body__location) {
  display: none;
}

.open-calendar__event-body__attendees {
  font-size: 0.8em;
  margin: 0.75em 0;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.open-calendar__event-body__attendee-line {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.open-calendar__event-body__attendee-status-icon {
  display: inline-flex;
  align-items: center;
}

.open-calendar__event-body__attendee-role-icon {
  display: inline-flex;
  align-items: center;
}

.open-calendar__event-body__attendee-name.organizer,
.open-calendar__event-body__attendee-name.required {
  font-weight: bold;
}

.open-calendar__event-body__attendee-name.optional {
  font-weight: normal;
}

.open-calendar__event-body__attendee-name.non-participant {
  font-style: italic;
}

.open-calendar__event-body__attendee-line.declined {
  color: gray;
  text-decoration: line-through;
}

.open-calendar__event-body__attendee-status-icon__pending {
  color: orange;
}
.open-calendar__event-body__attendee-status-icon__tentative {
  color: orange;
}
.open-calendar__event-body__attendee-status-icon__confirmed {
  color: blue;
}
.open-calendar__event-body__attendee-status-icon__declined {
  color: gray;
}

.open-calendar__event-body__status-clickable {
  cursor: pointer;
  transition: filter 0.2s;
}
.open-calendar__event-body__status-clickable:hover {
  filter: brightness(1.2);
}

.open-calendar__event-body--expanded {
  max-height: none;
  max-width: none;
  overflow: visible;
  cursor: pointer;
}

.open-calendar__event-body--small {
  cursor: zoom-in;
}

.open-calendar__event-body__description {
  margin-top: 0.5em;
  font-size: 0.9em;
}
