.calendar-page {
  display: flex;
  height: 100%;
  min-height: calc(100vh - 60px);

  &__sidebar {
    width: 260px;
    flex-shrink: 0;
    border-right: 1px solid var(--c--theme--colors--greyscale-200);
    overflow-y: auto;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__main {
    flex: 1;
    display: flex;
    flex-direction: column;
    // overflow: hidden;
  }
}

.calendars__calendar {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .c__main-layout {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .c__main-layout__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
}
