.calendar-left-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--c--theme--colors--greyscale-000);

  overflow-y: auto;

  &__create {
    padding: 0.75rem 0.75rem;

    .c__button {
      width: 100%;
      justify-content: center;
    }
  }

  .mini-calendar {
    width: 100%;
    max-width: 280px;
    align-self: center;
    flex-shrink: 0;
  }
}
