.mini-calendar {
  padding: 0.75rem;
  user-select: none;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 0 0.25rem;
  }

  &__month-title {
    font-size: 1rem;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--c--contextuals--content--semantic--neutral--primary);
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  &__grid {
    display: flex;
    flex-direction: column;
  }

  &__weekdays {
    display: grid;
    grid-template-columns: 2rem repeat(7, 1fr);
    gap: 0;
    margin-bottom: 0.25rem;
  }

  &__weekday {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5rem;
    font-size: var(--c--globals--font--sizes--s);
    font-weight: 700;
    color: var(--c--contextuals--content--semantic--neutral--primary);
    text-transform: lowercase;

    &--week-num {
      color: var(--c--contextuals--content--semantic--neutral--tertiary);
      font-weight: 500;
      font-size: 0.6rem;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  &__week {
    display: grid;
    grid-template-columns: 2rem repeat(7, 1fr);
    gap: 0;
  }

  &__week-number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.6rem;
    color: var(--c--contextuals--content--semantic--neutral--tertiary);
    font-weight: 400;
  }

  &__day {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1;
    border: none;
    background: transparent;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8rem;
    color: var(--c--contextuals--content--semantic--neutral--primary);
    font-weight: 500;
    transition: background-color 0.15s;

    &--outside {
      color: var(--c--contextuals--content--semantic--neutral--tertiary);
      font-weight: 400;

      &.mini-calendar__day--today {
        color: var(--c--contextuals--content--semantic--neutral--primary);
        font-weight: 700;
      }

      &.mini-calendar__day--selected {
        color: white;
        font-weight: 600;
      }
    }

    &--today:not(.mini-calendar__day--outside) {
      color: var(--c--contextuals--content--semantic--brand--primary);
      font-weight: 600;
    }

    // &:not(&--outside):--today {
    //   color: var(--c--contextuals--content--semantic--neutral--primary);
    //   font-weight: 600;
    // }

    &:hover {
      background-color: var(
        --c--contextuals--background--semantic--neutral--tertiary
      );
    }

    &--selected {
      background-color: var(
        --c--contextuals--background--semantic--brand--primary
      );
      color: white;
      font-weight: 600;
      border-radius: 4px;

      &:hover {
        background-color: var(
          --c--contextuals--background--semantic--brand--primary-hover
        );
      }
    }
  }
}
